# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim
*.swp
*.*~

# visual studio
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.exp
ipch

# compiled result
*.exe
Debug/*
Release/*
*/Debug/*
*/Release/*

# glm
glm/test/*
glm/doc/*
glm/util/*
glm/CMakeLists.txt
glm/CTestConfig.cmake

# glfw
glfw/docs
glfw/lib-mingw
glfw/lib-msvc90
glfw/lib-msvc100

# glew
glew/doc