# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim
*.swp
*.*~

# visual studio
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.exp
ipch
*.sln
*.vcxproj
*.vcxproj.filters

glfw/*
glew/*
build/*